version: '3.8'

services:
  db:
    image: pgvector/pgvector:pg16  # Normal Postgres değil, Vektör destekli imaj
    container_name: meeting_ai_db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=meeting_ai_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
